:root {
    --font-maven: 'Maven Pro', sans-serif;
    --font-play: 'Play', sans-serif;
}

* {
    box-sizing: border-box;
}

.flex { display: flex; }
.flex.column { flex-direction: column; }
.flex.justify-start { justify-content: flex-start; }
.flex.justify-center { justify-content: center; }
.flex.justify-end { justify-content: flex-end; }
.flex.justify-space-between { justify-content: space-between; }
.flex.justify-space-around { justify-content: space-around; }
.flex.align-start { align-items: flex-start; }
.flex.align-center { align-items: center; }
.flex.align-end { align-items: flex-end; }

a {
    text-decoration: none;
    color: hsla(0,0%,100%,.6);
}
a:hover {
    color: #fff;
}

.icon-wrapper {
    width: 48px;
    height: 48px;
    padding: 16px;
    cursor: pointer;
}

.icon-wrapper.hamburger {
    position: relative;
}

.hamburger span {
    display: block;
    background-color: #f42;
    height: 2px;
    width: 20px;
    margin-top: -1px;
    margin-left: -2px;
    position: absolute;
    top: 50%;
}

i.icon {
    background: url(../images/icons-sprite.svg);
    width: 16px;
    height: 16px;
    display: block;
    background-size: 1296px 1296px;
    opacity: 0.25;
}
i.icon:hover {
    opacity: 0.5;
}
i.icon.search {
    background-position: -848px -848px;
}

.hamburger span:first-child { transform: translateY(6px) }
.hamburger span:last-child { transform: translateY(-6px); }


.black-nav {
    width: 100%;
    height: 32px;
    background-color: black;
    display: none;
    padding: 0 10px;
    font-family: var(--font-maven);
    font-size: 13px;
}
.black-nav ul:first-child { display: flex; }
.black-nav ul:last-child { display: none; }
.black-nav li { margin: 0 5px; }

.nav-links {
    margin-left: 10px;
    font-family: var(--font-play);
    font-size: 15px;
}
.nav-links ul {
    height: 100%;
    display: none;
}
.nav-links a { color: #aaa; }
.nav-links a:hover { color: #000; }
.nav-links li {
    padding: 0 12px;
    line-height: 48px;
    text-transform: uppercase;
}

.action-buttons > div {
    border-left: 1px solid #eee;
}

nav {
    width: 100%;
    height: 48px;
    background: white;
}

.yellow {
    background-color: #fd3;
    height: 48px;
}

.logo {
    height: 100%;
    width: 106px;
    background-image: linear-gradient(to bottom right,#c09,#f42 85%);
    grid-row: auto / span 2;
}
.logo:hover {
    background-image: url(../images/logo-gif.gif);
}

.logo img {
    width: 66px;
    height: 16px;
}

main article{
    height: 30vh;
    background-color: tomato;
}

.latest-itens {
    width: 100%;
    height: 72px;
    background-color: teal;
    border: 1px solid black;
}

.adversiment {
    width: 100%;
    height: 216px;
    border: 1px solid black;
    background-color: gray;
}

.app-item {
    height: 672px;
    border: 1px solid black;
    background-color: #658528;
}

footer {
    height: 283px;
    background-color: black;
}


header {
    display: grid;
    grid-template-columns: 106px 1fr;
}



@media (min-width: 768px) {
    .black-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo { grid-row: auto / span 2; }
    .hamburger { display: none; }
    .nav-links ul { display: flex; }
}

@media (min-width: 780px) {
    .black-nav ul:last-child {
        display: flex;
    }
}


@media (min-width: 1023px) {
    header {
        grid-template-columns: 1fr;
    }
    .logo {
        display: none;
    }
}


@media (min-width: 1200px) {

}